<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.symbol.enterprisebarcode" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Enterprise Barcode</name>
    <js-module name="EnterpriseBarcode" src="www/EnterpriseBarcode.js">
        <clobbers target="enterpriseBarcode" />
    </js-module>
	
	<!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EnterpriseBarcode" >
                <param name="android-package" value="com.symbol.enterprisebarcode.EnterpriseBarcode"/>
            </feature>
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="com.symbol.emdk.permission.EMDK" />
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<uses-library android:name="com.symbol.emdk" android:required="false"/>
        </config-file>
		
		<!--framework src="src/android/com.symbol.emdk.jar" custom="true" /-->
		<framework src="src/android/extras.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/EMDKProxy.java" target-dir="src/com/symbol/enterprisebarcode" />
        <source-file src="src/android/EMDKScannerInterface.java" target-dir="src/com/symbol/enterprisebarcode" />
        <source-file src="src/android/EnterpriseBarcode.java" target-dir="src/com/symbol/enterprisebarcode" />
        <source-file src="src/android/ScannerConfiguration.java" target-dir="src/com/symbol/enterprisebarcode" />
        <source-file src="src/android/com.symbol.emdk.jar" target-dir="lib" />
    </platform>
	
</plugin>
